body {
  padding: 1em;
  width: 800px !important;
  margin: 0 auto !important;
  font-family: Verdana, sans-serif;
  background-color: #bbdefb; }

.animate-enter {
  transform: translateX(100%); }
.animate-enter.animate-enter-active {
  transform: translateX(0);
  transition: transform 300ms ease-in; }
.animate-leave {
  transform: translateX(0); }
.animate-leave.animate-leave-active {
  transform: translateX(-100%);
  transition: transform 300ms ease-in; }

.nav-link {
  display: inline-block;
  text-decoration: none;
  color: #999999; }
  .nav-link:not(:last-child) {
    margin-right: 1em; }
  .nav-link:hover {
    text-decoration: underline; }
  .nav-link--active {
    color: #262626;
    font-weight: bold;
    cursor: default; }
    .nav-link--active:hover {
      text-decoration: none; }

.section--demo {
  background-color: #ffcdd2;
  display: flex;
  justify-content: space-between;
  flex-direction: column; }
  @media screen and (min-width: 601px) {
    .section--demo {
      flex-direction: row; } }
.section--about {
  background-color: #bbdefb; }

.title {
  display: inline-block; }
  .title--highlighted {
    background-color: #ffff99; }

.form-field:not(:last-child) {
  margin-bottom: 1em; }

.notes {
  margin: 0;
  padding: 0; }
  .notes:not(:empty) {
    border: 1px solid #ccc; }
  .notes-item {
    display: block;
    padding: 1em;
    user-select: none; }
    .notes-item:not(:last-child) {
      border-bottom: 1px solid #ccc; }
    .notes-itemCheck {
      margin-right: 0.5em; }
    .notes-item--highlighted {
      background-color: #ffff99; }
    .notes-item--done {
      color: #999999;
      text-decoration: line-through;
      background-color: #f2f2f2; }
    .notes-item--highlighted.notes-item--done {
      background-color: #ffffe6;
      color: #666600; }

/*# sourceMappingURL=index.css.map */
