$spacing-base: 1em;
$spacing-l: $spacing-base * 2;
$spacing-m: $spacing-base;
$spacing-s: $spacing-base / 2;
$c-highlighted: lighten(yellow, 30%);
$c-link: #999999;
$font-family:Verdana, sans-serif;
$back-color: #bbdefb;

body {
  padding: $spacing-m;
  width: 800px !important;
  margin: 0 auto !important;
  font-family: $font-family;
  background-color: $back-color;
}

.animate {
  &-enter {
    transform: translateX(100%);
  }

  &-enter.animate-enter-active {
    transform: translateX(0);
    transition: transform 300ms ease-in;
  }

  &-leave {
    transform: translateX(0);
  }

  &-leave.animate-leave-active {
    transform: translateX(-100%);
    transition: transform 300ms ease-in;
  }
}

.nav {
  &-link {
    display: inline-block;
    text-decoration: none;
    color: $c-link;

    &:not(:last-child) {
      margin-right: $spacing-m;
    }

    &:hover {
      text-decoration: underline;
    }

    &--active {
      color: darken($c-link, 45%);
      font-weight: bold;
      cursor: default;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.section {
  &--demo {
    background-color: #ffcdd2;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @media screen and (min-width: 601px) {
      flex-direction: row;
    }
  }

  &--about {
    background-color: #bbdefb;
  }
}

.title {
  display: inline-block;

  &--highlighted {
    background-color: $c-highlighted;
  }
}

.form {
  &-field:not(:last-child) {
    margin-bottom: $spacing-m;
  }
}

.notes {
  margin: 0;
  padding: 0;

  &:not(:empty) {
    border: 1px solid #ccc;
  }

  &-item {
    display: block;
    padding: $spacing-m;
    user-select: none;

    &:not(:last-child) {
      border-bottom: 1px solid #ccc;
    }

    &Check {
      margin-right: $spacing-s;
    }

    &--highlighted {
      background-color: $c-highlighted;
    }

    &--done {
      color: lighten(black, 60%);
      text-decoration: line-through;
      background-color: lighten(#ccc, 15%);
    }

    &--highlighted.notes-item--done {
      background-color: lighten($c-highlighted, 15%);
      color: darken($c-highlighted, 60%);
    }
  }
}
